<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>
            Ludo
        </title>
        <link rel="stylesheet" href="stylesheets/splash.css">
    </head>
    <body>

        <div class="grid-container">
            <div>Active Games</div>
            <div><%= numOfGames-Math.floor(numGamesFinished/2) %></div>
            <div>Number of active players</div>
            <div><%=  numOfPlayers %></div>
            <div>Number of games</div>
            <div><%=  numOfGames %></div>
            <div>Number of finished games</div>
            <div><%=  Math.floor(numGamesFinished/2) %></div>
        </div>
        
        <div class = "container">
            <img src="images/ludoGame.png" class="centerImage">
            <div class = "centeredText"><p>Ludo</p></div>
            <form action="game.html">
                <button class = "centerButton">PLAY</button>
            </form>
        </div>       
    </body>
</html>